body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10;
}

h1 {
    color: #333;
    font-size: 2em;
}

p {
    font-size: 5em;
    color: #007BFF;
    margin: 0;
}

p.small {
    font-size: 2em;
}

div.container {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    display: inline-block;
    width: 100%;
}

/* Flexbox container */
.temp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for smaller screens */
@media (max-width: 768px) {
    div.container {
        max-width: 90%;
        margin: 10px auto;
    }
}

/* Style for larger screens */
@media (min-width: 768px) {
    div.container {
        flex: 1 1 45%; /* Takes up 45% of the screen width on large screens */
        margin: 10px;
    }
}

/* Style for the temperature and °C symbol in a single row */
.anton-regular {
    display: inline-block;
    font-family: "Anton", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5em;
    color: #007BFF;
}

.degree-symbol {
    font-size: 0.5em;
}